---
import dia from '../assets/img/dia.svg';
import manha from '../assets/img/manha.svg';
import noite from '../assets/img/noite.svg';
---

<section
	class="container bg-[url('../assets/img/padrao.svg')] bg-contain bg-center bg-no-repeat mb-12 sm:mb-16 sm:py-16"
>
	<p
		class="mb-4 text-center text-green-200 uppercase tracking-widest text-sm"
	>
		Ciclo Natural
	</p>
	<h2
		class="mb-8 mx-auto font-serif text-balance text-center max-w-screen-md text-white text-4xl sm:text-6xl"
	>
		Ritmo da Floresta
	</h2>

	<div class="flex flex-col gap-4 sm:flex-row sm:gap-8">
		<div
			class="grid flex-1 gap-4 bg-green-900 p-6 sm:p-8 rounded-xl transition-transform sm:hover:-translate-y-2"
		>
			<div class="neon size-10 flex items-center justify-center">
				<img src={manha.src} width={manha.width} height={manha.height} alt="" />
			</div>
			<h3 class="font-serif text-2xl text-white">Amanhecer</h3>
			<p class="text-gray-400">
				Desperte com o canto dos pássaros e participe das nossas caminhadas
				ao ar livre.
			</p>
			<span class="text-green-300">05:40 - 07:00</span>
		</div>
		<div
			class="grid flex-1 gap-4 bg-green-900 p-6 sm:p-8 rounded-xl transition-transform sm:translate-y-12 sm:hover:translate-y-10"
		>
			<div class="neon size-10 flex items-center justify-center">
				<img src={dia.src} width={dia.width} height={dia.height} alt="" />
			</div>
			<h3 class="font-serif text-2xl text-white">Meio-dia</h3>
			<p class="text-gray-400">
				Explore nossas trilhas sombreadas e desfrute de um piquenique
				gourmet na natureza.
			</p>
			<span class="text-green-300">12:00 - 14:00</span>
		</div>
		<div
			class="grid flex-1 gap-4 bg-green-900 p-6 sm:p-8 rounded-xl transition-transform sm:hover:-translate-y-2"
		>
			<div class="neon size-10 flex items-center justify-center">
				<img src={noite.src} width={noite.width} height={noite.height} alt="" />
			</div>
			<h3 class="font-serif text-2xl text-white">Anoitecer</h3>
			<p class="text-gray-400">
				Termine seu dia com nossa sessão de observação de estrelas.
			</p>
			<span class="text-green-300">19:00 - 21:00</span>
		</div>
	</div>
</section>