---
import caravan from '../assets/img/parceiros/caravan.svg';
import dogs from '../assets/img/parceiros/dogs.svg';
import lescone from '../assets/img/parceiros/lescone.svg';
import surfbot from '../assets/img/parceiros/surfbot.svg';
import wildbeast from '../assets/img/parceiros/wildbeast.svg';
---

<section class="container mb-12 sm:mb-16">
	<ul
		class="flex flex-col items-center justify-center content-center py-4 max-sm:divide-y-2 max-sm:divide-green-900 *:p-4 sm:flex-row sm:gap-8 sm:border-b-2 sm:border-t-2 sm:border-green-900 sm:py-8 *:*:max-h-8"
	>
		<li><img src={caravan.src} width={caravan.width} height={caravan.height} alt="Caravan" /></li>
		<li><img src={dogs.src} width={dogs.width} height={dogs.height} alt="Dogs" /></li>
		<li><img src={wildbeast.src} width={wildbeast.width} height={wildbeast.height} alt="Wildbeast" /></li>
		<li><img src={lescone.src} width={lescone.width} height={lescone.height} alt="Lescone" /></li>
		<li><img src={surfbot.src} width={surfbot.width} height={surfbot.height} alt="Surfbot" /></li>
	</ul>
</section>